### Installing Required Libraries

In this cell, we install the necessary Python libraries for our project. Specifically, we ensure that `pandas` is installed for data manipulation.

In [7]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Installing maplotlib and seaborn because they are not installed on Python ambient

In [6]:
import sys
print(sys.executable)

C:\Users\capor\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe

In [9]:
import sys
!{sys.executable} -m pip install matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp313-cp313-win_amd64.whl.metadata (168 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\capor\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   ---------------------- ----------------- 4.5/8.0 MB 23.6 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 23.1 MB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 9.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 2.6/2.6 MB 22.4 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1 seaborn-0.13.2

### Importing Necessary Libraries

We import all the required libraries for the project, including `pymongo` for MongoDB interactions, `pandas` for data manipulation, `re` and `json` for data processing, and `datetime` for handling date and time data.

In [10]:
import pymongo
import pandas as pd
import re
import json
from datetime import datetime
from pprint import pprint

### Establishing Connection to MongoDB

We establish a connection to the MongoDB server running on `localhost` at the default port `27017`. This connection allows us to interact with the MongoDB instance for data storage and retrieval.

In [11]:
# Connection to MongoDB
client = pymongo.MongoClient('mongodb://localhost:27017')
db = client['BankChurners']

# Verify connection
print("Connessione a MongoDB stabilita:", client)
print("Database attuale:", db)

Connessione a MongoDB stabilita: MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Database attuale: Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'BankChurners')

### Loading the Dataset

We load the `BankChurners.csv` dataset into a pandas DataFrame. This dataset contains information about credit card customers, which we will analyze and store in MongoDB.

In [12]:
df = pd.read_csv("BankChurners.csv")

### Displaying the First Few Rows of the Dataset

To get an initial understanding of the dataset, we display the first five rows. This helps in verifying that the data has been loaded correctly and provides a glimpse of the data structure.

In [13]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

### Displaying the Last Few Rows of the Dataset

Similarly, we display the last five rows of the dataset to inspect the tail end of the data. This can help identify any anomalies or issues present towards the end of the dataset.

In [15]:
df.tail()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

### Checking the Shape of the Dataset

We check the dimensions of the DataFrame to understand the number of records and features present in the dataset. This information is crucial for planning data processing and storage strategies.

In [16]:
df.shape

(10127, 23)

### Cleaning and Preprocessing of data

Before proceeding, it is essential to clean and preprocess the data to ensure quality and consistency. This includes handling missing values, converting data types, and removing duplicates.

In [17]:
# Verifica dei valori mancanti
print("Valori mancanti nel dataset:")
print(df.isnull().sum())

# Rimozione dei duplicati
df.drop_duplicates(inplace=True)

# Gestione dei valori mancanti
# Riempimento dei valori mancanti con la mediana per le colonne numeriche
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

# Per le colonne categoriali, riempimento con il valore più frequente
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

# Verifica dopo la pulizia
print("\nValori mancanti dopo la pulizia:")
print(df.isnull().sum())

Valori mancanti nel dataset:
CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

Valori mancanti dopo la pulizia:
CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

### Splitting the Dataset into Customers and Transactions

For better data management and to align with our MongoDB collections, we split the original DataFrame into two separate DataFrames: `customers_data` and `transactions_data`. This separation allows for more organized storage and targeted queries in MongoDB.

In [7]:
# Splitting the DataFrame into customers_data and transactions_data
customer_columns = ["CLIENTNUM", "Customer_Age", "Gender", "Education_Level", "Marital_Status", "Income_Category", "Card_Category"]
transaction_columns = ["CLIENTNUM", "Total_Trans_Amt", "Total_Revolving_Bal", "Credit_Limit", "Total_Amt_Chng_Q4_Q1", "Total_Ct_Chng_Q4_Q1", "Avg_Utilization_Ratio"]

customers_data = df[customer_columns]
transactions_data = df[transaction_columns]

### Setting Up MongoDB Collections with Schema Validation

We set up two MongoDB collections: `customers` and `transactions`. Before creating these collections, we check if they already exist and drop them to ensure a clean slate. We also define schema validation rules using `$jsonSchema` to enforce data integrity, ensuring that the inserted documents adhere to the specified structure and data types.

In [8]:
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['BankChurners']

# Check if the collection exists and drop it if it does
if "customers" in db.list_collection_names():
    db.customers.drop()
    
# Create collections with schema validation
db.create_collection("customers", validator={
    "$jsonSchema": {
        "bsonType": "object",
        "required": ["CLIENTNUM"],
        "properties": {
            "CLIENTNUM": {
                "bsonType": "int",
                "description": "must be a int and is required"
            },
            "Customer_Age": {
                "bsonType": "int",
                "description": "must be an integer"
            },
            "Gender": {
                "bsonType": "string"
            },
            "Education_Level": {
                "bsonType": "string"
            },
            "Marital_Status": {
                "bsonType": "string"
            },
            "Income_Category": {
                "bsonType": "string"
            },
            "Card_Category": {
                "bsonType": "string"
            }
        }
    }
})

# Repeat for transactions collection
if "transactions" in db.list_collection_names():
    db.transactions.drop()

db.create_collection("transactions", validator={
    "$jsonSchema": {
        "bsonType": "object",
        "required": ["CLIENTNUM"],
        "properties": {
            "CLIENTNUM": {
                "bsonType": "int",
                "description": "must be a int and is required"
            },
            "Total_Trans_Amt": {
                "bsonType": "double"
            },
            "Total_Trans_Ct": {
                "bsonType": "double"
            },
            "Total_Amt_Chng_Q4_Q1": {
                "bsonType": "double"
            },
            "Total_Ct_Chng_Q4_Q1": {
                "bsonType": "double"
            },
            "Avg_Utilization_Ratio": {
                "bsonType": "double"
            },
            "Credit_Limit": {
                "bsonType": "double"
            },
            "Total_Revolving_Bal": {
                "bsonType": "double"
            }
        }
    }
})

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'BankChurners'), 'transactions')

### Ensuring Correct Data Format and Inserting into MongoDB

Before inserting the data into MongoDB, we ensure that the data types of the DataFrame columns match the schema defined in MongoDB. Specifically, we convert the necessary columns to `float` to comply with the `double` type requirements. After formatting, we convert the DataFrames to dictionaries and attempt to insert them into the respective MongoDB collections. Proper exception handling is implemented to catch and report any insertion errors.

In [9]:
# Ensure the data is in the correct format

# Convert 'Total_Trans_Amt' and 'Total_Revolving_Bal' to float to match MongoDB schema
transactions_data['Total_Trans_Amt'] = transactions_data['Total_Trans_Amt'].astype(float)
transactions_data['Total_Revolving_Bal'] = transactions_data['Total_Revolving_Bal'].astype(float)

# Similarly, ensure other columns match the expected types
# For example, if 'CLIENTNUM' is not int, convert it
customers_data['CLIENTNUM'] = customers_data['CLIENTNUM'].astype(int)
transactions_data['CLIENTNUM'] = transactions_data['CLIENTNUM'].astype(int)

# Convert DataFrames to dictionaries
customers_dict = customers_data.to_dict('records')
transactions_dict = transactions_data.to_dict('records')

# Attempt to insert data into MongoDB
try:
    db.customers.delete_many({})  # Clear existing data if necessary
    db.transactions.delete_many({})
    
    db.customers.insert_many(customers_dict)
    db.transactions.insert_many(transactions_dict)
    print("Data inserted successfully")
except Exception as e:
    print(f"An error occurred during insertion: {e}")

C:\Users\capor\AppData\Local\Temp\ipykernel_16828\903578608.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions_data['Total_Trans_Amt'] = transactions_data['Total_Trans_Amt'].astype(float)
C:\Users\capor\AppData\Local\Temp\ipykernel_16828\903578608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions_data['Total_Revolving_Bal'] = transactions_data['Total_Revolving_Bal'].astype(float)
C:\Users\capor\AppData\Local\Temp\ipykernel_16828\903578608.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_data['CLIENTNUM'] = customers_data['CLIENTNUM'].astype(int)
C:\Users\capor\AppData\Local\Temp\ipykernel_16828\903578608.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions_data['CLIENTNUM'] = transactions_data['CLIENTNUM'].astype(int)

Data inserted successfully

### Verifying Data Insertion by Fetching Samples from MongoDB

After inserting the data, we fetch and print the first five documents from both the `customers` and `transactions` collections in MongoDB. This verification step ensures that the data has been inserted correctly and adheres to the defined schema.

In [10]:
# Fetch and print data to verify
print(list(db.customers.find().limit(5)))
print(list(db.transactions.find().limit(5)))

[{'_id': ObjectId('678d3536adf12007675c4912'), 'CLIENTNUM': 768805383, 'Customer_Age': 45, 'Gender': 'M', 'Education_Level': 'High School', 'Marital_Status': 'Married', 'Income_Category': '$60K - $80K', 'Card_Category': 'Blue'}, {'_id': ObjectId('678d3536adf12007675c4913'), 'CLIENTNUM': 818770008, 'Customer_Age': 49, 'Gender': 'F', 'Education_Level': 'Graduate', 'Marital_Status': 'Single', 'Income_Category': 'Less than $40K', 'Card_Category': 'Blue'}, {'_id': ObjectId('678d3536adf12007675c4914'), 'CLIENTNUM': 713982108, 'Customer_Age': 51, 'Gender': 'M', 'Education_Level': 'Graduate', 'Marital_Status': 'Married', 'Income_Category': '$80K - $120K', 'Card_Category': 'Blue'}, {'_id': ObjectId('678d3536adf12007675c4915'), 'CLIENTNUM': 769911858, 'Customer_Age': 40, 'Gender': 'F', 'Education_Level': 'High School', 'Marital_Status': 'Unknown', 'Income_Category': 'Less than $40K', 'Card_Category': 'Blue'}, {'_id': ObjectId('678d3536adf12007675c4916'), 'CLIENTNUM': 709106358, 'Customer_Age': 40, 'Gender': 'M', 'Education_Level': 'Uneducated', 'Marital_Status': 'Married', 'Income_Category': '$60K - $80K', 'Card_Category': 'Blue'}]
[{'_id': ObjectId('678d3536adf12007675c70a1'), 'CLIENTNUM': 768805383, 'Total_Trans_Amt': 1144.0, 'Total_Revolving_Bal': 777.0, 'Credit_Limit': 12691.0, 'Total_Amt_Chng_Q4_Q1': 1.335, 'Total_Ct_Chng_Q4_Q1': 1.625, 'Avg_Utilization_Ratio': 0.061}, {'_id': ObjectId('678d3536adf12007675c70a2'), 'CLIENTNUM': 818770008, 'Total_Trans_Amt': 1291.0, 'Total_Revolving_Bal': 864.0, 'Credit_Limit': 8256.0, 'Total_Amt_Chng_Q4_Q1': 1.541, 'Total_Ct_Chng_Q4_Q1': 3.714, 'Avg_Utilization_Ratio': 0.105}, {'_id': ObjectId('678d3536adf12007675c70a3'), 'CLIENTNUM': 713982108, 'Total_Trans_Amt': 1887.0, 'Total_Revolving_Bal': 0.0, 'Credit_Limit': 3418.0, 'Total_Amt_Chng_Q4_Q1': 2.594, 'Total_Ct_Chng_Q4_Q1': 2.333, 'Avg_Utilization_Ratio': 0.0}, {'_id': ObjectId('678d3536adf12007675c70a4'), 'CLIENTNUM': 769911858, 'Total_Trans_Amt': 1171.0, 'Total_Revolving_Bal': 2517.0, 'Credit_Limit': 3313.0, 'Total_Amt_Chng_Q4_Q1': 1.405, 'Total_Ct_Chng_Q4_Q1': 2.333, 'Avg_Utilization_Ratio': 0.76}, {'_id': ObjectId('678d3536adf12007675c70a5'), 'CLIENTNUM': 709106358, 'Total_Trans_Amt': 816.0, 'Total_Revolving_Bal': 0.0, 'Credit_Limit': 4716.0, 'Total_Amt_Chng_Q4_Q1': 2.175, 'Total_Ct_Chng_Q4_Q1': 2.5, 'Avg_Utilization_Ratio': 0.0}]

### Summary and Next Steps

In this notebook, we successfully loaded the Bank Churners dataset, processed it to fit our MongoDB schema, and inserted it into MongoDB collections with schema validation. The data insertion was verified by fetching sample documents from the collections.

**Next Steps:**
1. **Customer Segmentation:** Implement aggregation pipelines in MongoDB to segment customers based on age, gender, education level, and income category.
2. **Customer Status Analysis:** Analyze the factors contributing to account closures by examining the `Attrition_Flag` and transaction patterns.
3. **Financial Health Assessment:** Assess the financial health of customers by analyzing credit limits, revolving balances, and credit utilization ratios.
4. **Visualization:** Utilize libraries like `matplotlib` and `seaborn` to visualize the insights derived from the data.
5. **Advanced Analysis:** Apply machine learning techniques to predict customer attrition and identify high-risk customers.

### Additional Enhancements

To further enhance your project, consider implementing the following:

1. **Environment Management**

   Create a `requirements.txt` file to manage project dependencies. This facilitates easy setup of the project environment.

   ```bash
   # requirements.txt
   pandas
   pymongo
   ```

   You can install the dependencies using:

   ```bash
   pip install -r requirements.txt
   ```

2. **Data Validation and Cleaning**

   Before inserting data into MongoDB, perform comprehensive data validation and cleaning to ensure data quality.

   ```python
   # Check for missing values
   print("Missing values in customers_data:")
   print(customers_data.isnull().sum())
   
   print("
Missing values in transactions_data:")
   print(transactions_data.isnull().sum())
   
   # Handle missing values
   customers_data.dropna(inplace=True)  # Example: Drop rows with missing values
   transactions_data.fillna(transactions_data.median(), inplace=True)  # Example: Fill missing with median
   ```

3. **Indexing in MongoDB**

   Create indexes on commonly queried fields to improve query performance.

   ```python
   # Create index on CLIENTNUM for faster queries
   db.customers.create_index([("CLIENTNUM", pymongo.ASCENDING)], unique=True)
   db.transactions.create_index([("CLIENTNUM", pymongo.ASCENDING)])
   ```

4. **Aggregation Pipelines for Analysis**

   Implement MongoDB aggregation pipelines to perform the analyses outlined in your project proposal.

#### a. Customer Segmentation

In [14]:
pipeline = [
    {
        "$group": {
            "_id": {
                "Age": "$Customer_Age",
                "Gender": "$Gender",
                "Education_Level": "$Education_Level",
                "Income_Category": "$Income_Category"
            },
            "count": {"$sum": 1}
        }
    },
    {
        "$sort": {"count": -1}
    }
]

segmentation = list(db.customers.aggregate(pipeline))
pprint(segmentation)

# Convert to DataFrame for visualization
segmentation_df = pd.DataFrame(segmentation)
segmentation_df = segmentation_df['_id'].apply(pd.Series).join(segmentation_df['count'])

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

sns.countplot(data=segmentation_df, x='Gender', hue='Income_Category')
plt.title('Customer Segmentation by Gender and Income Category')
plt.xlabel('Gender')
plt.ylabel('Number of Customers')
plt.show()

NameError: name 'pprint' is not defined

#### b. Customer Status Analysis

In [12]:
pipeline = [
    {
        "$lookup": {
            "from": "transactions",
            "localField": "CLIENTNUM",
            "foreignField": "CLIENTNUM",
            "as": "transactions_info"
        }
    },
    {
        "$match": {
            "Attrition_Flag": "Attrited Customer"
        }
    },
    {
        "$unwind": "$transactions_info"
    },
    {
        "$project": {
            "CLIENTNUM": 1,
            "Total_Trans_Amt": "$transactions_info.Total_Trans_Amt",
            "Total_Revolving_Bal": "$transactions_info.Total_Revolving_Bal",
            "Credit_Limit": "$transactions_info.Credit_Limit",
            "Avg_Utilization_Ratio": "$transactions_info.Avg_Utilization_Ratio"
        }
    }
]

attrition_analysis = list(db.customers.aggregate(pipeline))
pprint(attrition_analysis)

# Convert to DataFrame for analysis
attrition_df = pd.DataFrame(attrition_analysis)

# Visualization
sns.histplot(attrition_df['Avg_Utilization_Ratio'], kde=True)
plt.title('Distribution of Credit Utilization Ratio Among Attrited Customers')
plt.xlabel('Average Utilization Ratio')
plt.ylabel('Frequency')
plt.show()

# Correlation Heatmap
correlation = attrition_df[['Total_Trans_Amt', 'Total_Revolving_Bal', 'Credit_Limit', 'Avg_Utilization_Ratio']].corr()
sns.heatmap(correlation, annot=True, cmap='coolwarm')
plt.title('Correlation Between Financial Variables')
plt.show()

SyntaxError: invalid syntax (1529207000.py, line 1)

#### c. Financial Health Assessment

In [15]:
pipeline = [
    {
        "$project": {
            "CLIENTNUM": 1,
            "Credit_Limit": 1,
            "Total_Revolving_Bal": 1,
            "Avg_Utilization_Ratio": 1
        }
    }
]

financial_health = list(db.transactions.aggregate(pipeline))
financial_health_df = pd.DataFrame(financial_health)

# Visualization
sns.scatterplot(data=financial_health_df, x='Credit_Limit', y='Total_Revolving_Bal', hue='Avg_Utilization_Ratio')
plt.title('Credit Limit vs. Total Revolving Balance')
plt.xlabel('Credit Limit')
plt.ylabel('Total Revolving Balance')
plt.show()

# Identifying High-Risk Customers
high_risk_customers = financial_health_df[
    (financial_health_df['Avg_Utilization_Ratio'] > 0.75) | 
    (financial_health_df['Total_Revolving_Bal'] > financial_health_df['Credit_Limit'] * 0.8)
]

print("High-Risk Customers:")
print(high_risk_customers)

NameError: name 'sns' is not defined

### Conclusion

In this notebook, we successfully:

1. **Installed and Imported Libraries:** Ensured all necessary libraries are available for data manipulation and MongoDB interactions.
2. **Connected to MongoDB:** Established a connection to the MongoDB server and set up collections with schema validation to maintain data integrity.
3. **Loaded and Inspected Data:** Loaded the dataset, displayed its structure, and verified the number of records and features.
4. **Processed and Inserted Data:** Split the dataset into relevant sections, ensured correct data types, and inserted the data into MongoDB with proper error handling.
5. **Verified Data Insertion:** Fetched and displayed sample documents from MongoDB to confirm successful data insertion.
6. **Outlined Next Steps:** Provided a roadmap for further analysis, including customer segmentation, status analysis, and financial health assessment.

By following the structured approach and implementing best practices, the project is well-positioned to deliver meaningful insights into customer behaviors and factors influencing account closures.